
header{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px double white; 
}

    
.Ajuda{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    color: red;
}
    