body{
margin: 0;
padding: 0;
background-color: rgb(215, 233, 112);
display: flex;
flex-direction: column;
align-items: center;
}
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
main {
    background: rgb(221, 221, 221);
    margin:  15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#palavra,{
    color:white;
}
#boneco, .botoes{
    margin:0 auto;
	margin-top:38px;
	text-align: center;
	width: 550px;
	height:210px;
}
.botoes{
	height:50px;
}